@if (ViewBag.Br == "Mobile")
{
    <section class="content">
    </section>
}
else
{
    <section class="content schr1" id="schr1">
        <script>
            if (schr1.addEventListener) {
                if ('onwheel' in document) {
                    schr1.addEventListener("wheel", onWheel1);
                } else if ('onmousewheel' in document) {
                    schr1.addEventListener("mousewheel", onWheel1);
                } else {
                    schr1.addEventListener("MozMousePixelScroll", onWheel1);
                }
            } else {
                schr1.attachEvent("onmousewheel", onWheel1);
            }
        </script>
        <h1 style="margin-top:0; padding-top: 5px; text-align:center;">Здесь информация о моих знаниях и умениях</h1>
        <div class="container">

            <div>
                <h3>Языки которые я знаю</h3>
                <p class="knowledge-l-p">
                    Язык
                    <a></a>
                    Уровень знания
                </p>
                @foreach (var i in ViewBag.Langs)
                {
                    <p class="knowledge-l-p">
                        @i.name
                        <progress class="knowledge" max="100" value="@i.percent"></progress>
                        @i.level
                    </p>
                }
            </div>

            <div>
                <h3>Технологии которые я знаю</h3>
                @foreach (var i in ViewBag.teches)
                {
                    <p class="knowledge-t-p">
                        @i.name
                        <progress class="knowledge" max="100" value="@i.Level"></progress>
                    </p>
                }
            </div>

        </div>
    </section>
    <section class="schr2 content" id="schr2">
        <script>
            if (schr2.addEventListener) {
                if ('onwheel' in document) {
                    // IE9+, FF17+, Ch31+
                    schr2.addEventListener("wheel", onWheel2);
                } else if ('onmousewheel' in document) {
                    // устаревший вариант события
                    schr2.addEventListener("mousewheel", onWheel2);
                } else {
                    // Firefox < 17
                    schr2.addEventListener("MozMousePixelScroll", onWheel2);
                }
            } else { // IE8-
                schr2.attachEvent("onmousewheel", onWheel2);
            }
        </script>
        @foreach (var i in ViewBag.works)
        {
            <a href="@i.URL">
                <div style="margin: 3px; margin-left: 10vw; margin-right: 10vw;" class="MetroButton MetroButtonA Work">
                    <img src="@i.Image" style="height: 10vh; max-width: 10vh" />
                    <div style="width:100%; height:100%; text-align:left; float:right;">
                        <p class="title">
                            @i.Title
                        </p>
                        <p class="discr">
                            @i.Description
                        </p>
                    </div>
                </div>
            </a>
        }
    </section>
}